.dataTables_paginate {
    width: 100%;
    text-align: center;
}

/*#tblUser {
    border-bottom: 1px solid #d3dcd3;
}*/

#tblUser > tbody > tr > td {
    border-top: 1px solid #d3dcd3;
}

#tblBrand > tbody > tr > td {
    border-top: 1px solid #d3dcd3;
}

#tblCasting > tbody > tr > td {
    border-top: 1px solid #d3dcd3;
}

    #tblKeihi td {
        border-top: 1px solid #d3dcd3;
    }

   

#tblTouroku_Keihi > tbody > tr > td {
    border-top: 1px solid #d3dcd3;
}

#tblNouhin > tbody > tr > td {
    border-top: 1px solid #d3dcd3;
}

#tblProject > tbody > tr > td {
    border-top: 1px solid #d3dcd3;
}

    #tblUser th.sorting_disabled.Border1 {
        width: 100px !important;
    }

    #tblUser th.sorting_disabled.Border2 {
        width: 200px !important;
    }

    #tblUser th.sorting_disabled.Border3 {
        width: 100px !important;
    }

/*.col-sm-12 {
    padding-left: 0px;
}*/

.text-line{
    color:black !important;
}

.bgGrey{
    background-color:lightgrey;
}

.bgWhite{
    background-color:white;
}

#tblKeihi{
    width: 590px!important;
}

#tblKeihi td.Border3 {
        width: 48px !important;
}

 #tblKeihi td.Border2 {
        width: 180px;
        color: #aba6a6;
}

 #tblKeihi td.Border1.sorting_1 {
      width: 180px !important;
 }
 
#tblNouhinBS > tbody > tr > td {
    border-top: 1px solid #d3dcd3;
}

#tblNouhinEntry > tbody > tr > td {
    border-top: 1px solid #d3dcd3;
}
