.dataTables_paginate {
    width: 100%;
    text-align: center;
}

/*#tblUser {
    border-bottom: 1px solid #d3dcd3;
}*/

    #tblUser td {
        border-top: 1px solid #d3dcd3;
    }

    #tblBrand td{
        border-top: 1px solid #d3dcd3;
    }

    #tblCasting td {
        border-top: 1px solid #d3dcd3;
    }

    #tblKeihi td {
        border-top: 1px solid #d3dcd3;
    }
    #tblProject td {
        border-top: 1px solid #d3dcd3;
    }

/*.col-sm-12 {
    padding-left: 0px;
}*/

#tblKeihi td.Border2 {
    width: 180px;
    color: #aba6a6;
}

.text-line{
    color:black !important;
}

.bgGrey{
    background-color:lightgrey;
}

.bgWhite{
    background-color:white;
}

#tblKeihi td.Border1.sorting_1 {
    width: 180px!important;
}

#tblKeihi{
    width: 590px!important;
}

#tblKeihi td.Border3{
    width: 48px!important;
}

#tblProject {
    width: 501px !important;
}

#tblProject td.Border5{
    width: 40px !important;
}

