
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <h2 class="align-content-center">
                <b>S001</b>
            </h2>
            <h4>
                <b>システムエラーが発生しました。プログラムを終了します。</b>
            </h4>
        </div>
    </div>
</div>
