
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divMain" class="container-fluid">
    <div class="content">
            <h2>
                <b><i class="fa-warning"></i>S001</b>
            </h2>
            <h4>
                <b>システムエラーが発生しました。プログラムを終了します。</b>
            </h4>
        </div>
    </div>
