
@{
    ViewBag.Title = "UserEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="content">
        <div class="p-5 row">
                <div class="col-xs-6 col-md-4"></div>
                <div class="col-xs-6 col-md-4">
                    <div>
                        <h2 class="text-center">ユーザー登録</h2>
                    </div>
                    <div class="pt-5 md-form">
                        <label for="lblUserName">Name</label>
                        <input type="text" id="UserName" class="form-control">
                    </div>
                </div>
                <div class="col-xs-6 col-md-4"></div>
        </div>
     </div>
</div>

