@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="@Url.Content("~/ElaAdmin/images/img-01.png")" alt="IMG">
            </div>

            <form id="f1">
                <span class="login100-form-title">
                    Acceleシステム
                </span>

                <div class="wrap-input100 validate-input">
                    <input id="UserID" class="input100" type="text" name="user" required placeholder="User ID" maxlength="40" autocomplete="off">
                    <span class="symbol-input100">
                        <i class="fas fa-user-circle" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input id="Password" class="input100" type="password" name="pass" required placeholder="Password" maxlength="40" autocomplete="off">
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button id="btnLogin" onclick="btnLoginClick()" class="login100-form-btn">
                        ログイン
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#UserID").focus();
        });

        //prevent default submit
        $("#f1").submit(function (e) {
            return false;
        });

        function btnLoginClick() {   
            if (!($('#UserID').val().trim() == '' || $('#Password').val().trim() == '')) {
                var Umodel = {
                UserID: $('#UserID').val(),
                Password: $('#Password').val()
            };     
            $.ajax({
                url: '@Url.Action("UserLogin_Select", "api/UserApi")',
                method: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(Umodel),                
                headers:
                {
                    Authorization: 'Basic ' + btoa('Capital_MM' + ':' + 'CKM12345!')
                },  
                success: function (data) {
                    var userdata = JSON.parse(data);
                    if (userdata.length > 0) {
                        var userinfo = userdata[0].ID + '_' + userdata[0].UserName;
                        $.post('@Url.Action("CreateSession", "Home")',
                            { key: "UserInfo", value: userinfo }, function (data) {
                                location.href = '@Url.Action("TourokuProject_List", "TourokuProject")';
                            });
                    }
                    else {
                        alert("Login Failed. Invalid UserName and Password.")
                        $('#UserID').val("");
                        $('#Password').val("");
                    }
                },
                error: function (data)
                {
                    alert("Object Request fail" + data);
                }
                
            });    
            }

        }
    </script>
}