
@{
    ViewBag.Title = "TourokuList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/ElaAdmin/assets/css/lib/datatable/dataTables.bootstrap.min.css")" />
}
    <div class="card">
        <div class="col-lg-6">
            <div class="card-body card-block">
                <form action="#" method="post" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col-5" style="padding:0px;">
                            <button id="btnAdd" onclick="btnAddClick()" class="btn col-xl-12 text-center" tabindex="38" style="background-color:#1a8cff; color:azure;">
                                プロジェクト登録
                            </button>
                        </div>
                        <div class="col-4">
                            <button id="btnAdd" onclick="btnAddClick()" class="btn col-xl-10 text-center" tabindex="38" color:azure;">
                                品番登録
                            </button>
                        </div>
                        <div class="col-3" style="padding:0px;">
                            <button id="btnAdd" onclick="btnAddClick()" class="btn col-xl-9 text-center" tabindex="38" style="background-color:#1a8cff; color:azure;">
                                CSV
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">Example Form</div>
                <div class="card-body card-block">
                    <form action="#" method="post" class="">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" id="username2" name="username2" placeholder="Username" class="form-control">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="email" id="email2" name="email2" placeholder="Email" class="form-control">
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" id="password2" name="password2" placeholder="Password" class="form-control">
                                <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                            </div>
                        </div>
                        <div class="form-actions form-group"><button type="submit" class="btn btn-secondary btn-sm">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>



