
@{
    ViewBag.Title = "TourokuList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="@Url.Content("~/ElaAdmin/assets/css/lib/datatable/dataTables.bootstrap.min.css")" />
}
    <div class="card">
        <div class="card-body">
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-6" style="padding: 0px;">
                        <button id="btnAdd" onclick="btnAddClick()" class="btn col-xl-10 text-center" tabindex="38" style="background-color:#1a8cff; color:azure;">
                            ブランド追加
                        </button>
                    </div>
                    <div class="col-4" style="padding: 0px;">
                        <button id="btnAdd" onclick="btnAddClick()" class="btn col-xl-10 text-center" tabindex="38" color:azure;">
                            品番表示
                        </button>
                    </div>
                    <div class="col-2" style="padding: 0px;">
                        <button id="btnAdd" onclick="btnAddClick()" class="btn col-xl-10 text-center" tabindex="38" style="background-color:#1a8cff; color:azure;">
                            CSV
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Username</div>
                        <input type="text" id="username3" name="username3" class="form-control">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Email</div>
                        <input type="email" id="email3" name="email3" class="form-control">
                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Password</div>
                        <input type="password" id="password3" name="password3" class="form-control">
                        <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                    </div>
                </div>
                <div class="form-actions form-group">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
            </div>
        </div>
    </div>



