
@{
    ViewBag.Title = "TourokuHinban_List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}


<div class="card">
    <div class="row">
        <div class="col-lg-5">
            <div class="card-body card-block">
                <div class="row form-group">
                    <div class="col col-md-12">
                        <button id="btnAdd" onclick="btnAddClick()" class="btn" tabindex="38" style="background-color:#1a8cff; color:azure; border:1px solid transparent; border-radius: 3px; margin-right: 20px;">
                            品番情報
                        </button>
                        <button id="btnAdd" onclick="btnAddClick()" class="btn" tabindex="38" style="background-color:white; color:#1a8cff; border-radius:3px; border: 1px solid transparent; border-color:#1a8cff; margin-right: 20px;">
                            プロジェクト検索
                        </button>

                        <div id="registration" style="padding-top: 1.8rem!important;">
                            <div class="">
                                <h4 class=" hr-text text-center">経費設定登録</h4>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-xs-12">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <input type="text" tabindex="1" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="proCD" name="proCD" maxlength="10" required placeholder="プロジェクトコード">

                                        <input type="text" tabindex="2" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="proName" name="proName" maxlength="60" required placeholder="プロジェクト名">
                                    </div>
                                </div>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-xs-12">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <input type="text" tabindex="3" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="year" name="year" maxlength="4" required placeholder="年度">

                                        <input type="text" tabindex="4" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="season" name="season" maxlength="40" required placeholder="シーズン">
                                    </div>
                                </div>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-xs-12">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <input type="text" tabindex="5" class="text-line col-xl-10 text-left" onkeydown="KeyDown(event,this)" id="brand" name="brand" maxlength="50" required placeholder="ブランド">
                                    </div>
                                </div>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-xs-12">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label style="padding:initial;width: 80px;">予定期間</label>

                                        <input type="text" tabindex="6" class="text-line col-xl-3 text-left" onkeydown="KeyDown(event,this,'KanjoCheck')" id="StartDate" name="StartDate" maxlength="7" required>
                                        <label class="col-xl-1">~</label>
                                        <input type="text" tabindex="7" class="text-line col-xl-3 text-left" onkeydown="KeyDown(event,this,'KanjoCheck')" id="EndDate" name="EndDate" maxlength="7" required>

                                    </div>
                                </div>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-xs-12">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <input type="text" tabindex="8" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="tpNo" name="tpNo" maxlength="10" required placeholder="総生産数">

                                        <input type="text" tabindex="9" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="tAmount" name="tAmount" maxlength="10" required placeholder="総金額">
                                    </div>
                                </div>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-xs-12">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label style="width: 80px;">品番名</label>

                                        <input type="text" tabindex="6" class="text-line col-xl-3 text-left" onkeydown="KeyDown(event,this,'KanjoCheck')" id="PartNoCD" name="PartNoCD" maxlength="10" required placeholder="">
                                        
                                        <input type="text" tabindex="7" class="text-line col-xl-3 text-left" onkeydown="KeyDown(event,this,'KanjoCheck')" id="PartNoName" name="PartNoName" maxlength="60" required placeholder="入力">

                                    </div>
                                </div>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-xs-12">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label style="padding:initial;width: 80px;">予定単価</label>

                                        <input type="text" tabindex="6" class="text-line col-xl-3 text-left" onkeydown="KeyDown(event,this,'KanjoCheck')" id="StartPrice" name="StartPrice" maxlength="7" required placeholder="0">
                                        <label class="col-xl-1">~</label>
                                        <input type="text" tabindex="7" class="text-line col-xl-3 text-left" onkeydown="KeyDown(event,this,'KanjoCheck')" id="EndPrice" name="EndPrice" maxlength="7" required placeholder="5,000">

                                    </div>
                                </div>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-xs-12">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label style="width: 80px;">金型</label>
                                        <input type="text" tabindex="6" class="text-line col-xl-3 text-left" onkeydown="KeyDown(event,this,'KanjoCheck')" id="moldCD" name="moldCD" maxlength="20" required placeholder="入力">
                                        
                                        <input type="text" tabindex="7" class="text-line col-xl-3 text-left" onkeydown="KeyDown(event,this,'KanjoCheck')" id="moldName" name="moldName" maxlength="40" required placeholder="RX078">

                                    </div>
                                </div>
                            </div>
                            <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                                <div class="col-md-12" style="padding-left:0px;">
                                    <div class="text-s text-custom1 text-uppercase mb-1">
                                        <label class="text" style="padding-right:20px;">シーズン</label>
                                        <input type="checkbox" id="degreeyear" name="check">
                                        <label style="padding-right:50px;">度年</label>
                                        <input type="checkbox" id="SS" name="">
                                        <label style="padding-right:50px;">SS</label>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="padding-left:0px; padding-top:2rem;">
                                <div class="text-s text-custom1 text-uppercase mb-1">
                                    <button id="btnSearch" tabindex="7" onclick="btnSearchClick()" class="btn btn-dark col-xl-4 text-center" style="float:right; width:100px;">登録</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card-body card-block">
                <table id="tblHinban" class="tb1 col-sm-12" style="padding-left:0px;">
                    <thead>
                        <tr>
                            <td></td>
                            <th></th>
                        </tr>
                       
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>

                </table>
            </div>

        </div>
        <div class="col-lg-2"></div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            HinBanTable();
        });

        function HinBanTable() {
            var model = {
                //HinbanCD: $('#PartNoCD').val(),
                //ProjectName: $('#PartNoName').val(),
            };
            
             $.ajax({
            type: "Post",
            url: "@Url.Action("M_HinBan_Select_List", "api/TourokuProjectApi")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(model),
                 success: function (response) {
                    
                BindTable(response);
            }
        });
               
        }

        function BindTable(response) {
           
            table = $('#tblHinban').DataTable({

                data: JSON.parse(response),
                "bFilter": false,
                "bLengthChange": false,
                "bInfo": false,
                destroy: true,
                "columns": [
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return '<table><tr><td class=" col-xl-12 text-right">' + '<input type="button" value="削除" />' + '</td></tr><tr><td>' + data.HinbanCD + '</td><th>' + data.HinbanName + '</th><th>' + '<input type="button" value="削除" />'
                                + '</th></tr>' + '<br/><tr><td>' + data.Casting + '</td><td>' + data.Production + '</td><td>' + data.SalesPrice + '</td><td>' + "Total" + '</td><td>' + '<input type="button" value="削除" />'+ '</tr></table>';

                        }
                    },
                    
                ],
                
            });

        }

        function btnSearchClick() {
            var Tmodel = {
                ProjectCD: $('#proCD').val(),
                ProjectName: $('#proName').val(),
                Year: $('#year').val(),
                Season: $('#season').val(),
                BrandCD: $('#brand').val(),
                PeriodStart: $('#StartDate').val(),
                PeriodEnd: $('#EndDate').val(),
                Production: $('#tpNo').val(),
                //HinbanCD: $('#tAmount').val(),
                HinbanCD: $('#PartNoCD').val(),
                HinbanName: $('#PartNoName').val(),
                //HinbanCD: $('#StartPrice').val(),
                //HinbanCD: $('#EndPrice').val(),
                //Casting: $('#moldCD').val(),
                //HinbanCD: $('#moldName').val(),
            };
        }
    </script>
    }
