
@{
    ViewBag.Title = "TourokuHinban_Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-textbox.css")" />
}

    <div id="divMain" class="container-fluid">
        <div class="content">
            <div class="p-5 row shadow" style="box-shadow: 0 .1rem .4rem rgba(0,0,0,.1) !important; background:white; border-radius:5px;">
                <div class="col-xs-12 col-md-2"></div>
                <div class="col-xs-12 col-md-8">
                    <div>
                        <h2 class=" hr-text text-center">品番情報入力</h2>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <input type="text" tabindex="1" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="CostCD" name="costCD" maxlength="6" required placeholder="プロジェクトコード">

                                <input type="text" tabindex="2" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="CostName" name="costName" maxlength="40" required placeholder="プロジェクト名">
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <input type="text" tabindex="3" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="CostCD" name="costCD" maxlength="6" required placeholder="年度">

                                <input type="text" tabindex="4" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="CostName" name="costName" maxlength="40" required placeholder="シーズン">
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <input type="text" tabindex="5" class="text-line col-xl-10 text-left" onkeydown="KeyDown(event,this)" id="CostCD" name="costCD" maxlength="6" required placeholder="ブランド">
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <label style="padding:initial;width: 130px;">予定期間</label>

                                <input type="text" tabindex="6" class="text-line col-xl-3 text-left" onkeydown="KeyDown(event,this,'KanjoCheck')" id="KanjoCD" name="kanjoCD" maxlength="6" required>
                                <label class="col-xl-1">~</label>
                                <input type="text" tabindex="7" class="text-line col-xl-3 text-left" onkeydown="KeyDown(event,this,'KanjoCheck')" id="KanjoCD" name="kanjoCD" maxlength="6" required>

                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <input type="text" tabindex="8" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="CostCD" name="costCD" maxlength="6" required placeholder="総生産数">

                                <input type="text" tabindex="9" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="CostName" name="costName" maxlength="40" required placeholder="総金額">
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <input type="text" tabindex="10" class="text-line col-xl-7 text-left" onkeydown="KeyDown(event,this)" id="CostCD" name="costCD" maxlength="6" required placeholder="品番名">

                                <input type="text" tabindex="11" class="text-line col-xl-3 text-left" onkeydown="KeyDown(event,this)" id="CostName" name="costName" maxlength="40" required placeholder="色数">
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <input type="text" tabindex="12" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="CostCD" name="costCD" maxlength="6" required placeholder="生産数">

                                <input type="text" tabindex="13" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="CostName" name="costName" maxlength="40" required placeholder="累計納品数">
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <input type="text" tabindex="14" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="CostCD" name="costCD" maxlength="6" required placeholder="予定単価">

                                <input type="text" tabindex="15" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="CostName" name="costName" maxlength="40" required placeholder="総金額">
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <label class="col-xl-2" style="padding:initial;">金型</label>
                                <input type="text" tabindex="16" class="text-line col-xl-4 text-left" onkeydown="KeyDown(event,this,'KanjoCheck')" id="KanjoCD" name="kanjoCD" maxlength="6" required>
                                <input type="text" tabindex="17" class="text-line col-xl-4 text-left" onkeydown="KeyDown(event,this,'KanjoCheck')" id="KanjoCD" name="kanjoCD" maxlength="6" required>

                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form" style="padding-top:1.2rem!important;">
                        <div class="col-xs-12">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <input type="text" tabindex="18" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="CostCD" name="costCD" maxlength="6" required placeholder="自由配賦項目">

                                <input type="text" tabindex="19" class="text-line col-xl-5 text-left" onkeydown="KeyDown(event,this)" id="CostName" name="costName" maxlength="40" required placeholder="配賦用固定値">
                            </div>
                        </div>
                    </div>
                    <div class="pt-3 md-form">
                        <div class="col-xl-12 text-center">
                            <div class="text-s text-custom1 text-uppercase mb-1">
                                <button id="btnSave" tabindex="20" onclick="btnSaveClick()" class="btn btn-dark col-xl-4 text-center">登録</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button id="btnCancel" tabindex="21" onclick="btnCancelClick()" class="btn btn-primary col-xl-4 text-center">戻る</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3"></div>
            </div>
        </div>
    </div>